body {
    font-family: 'Noto Sans', sans-serif;
}
/* Inset, by Dan Eden; modified somewhat*/
hr {
      width:100%;
      margin-bottom:0%;
      border: 0;
      height: 0;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}


.title {
      text-align:center;
      margin-top:15%;
      font-size:20px;
      font-family: 'Noto Sans', sans-serif;
}

.subtitle {
      text-align:center;
      margin-bottom:0%;
      font-size:12px;
}

.work {
	background:white;
	color:black;
}

.play {
	background:black;
	color:white;
}

.menu {
        margin-top:4%;

}

.attribution {
	margin-top:1%;
	font-size:12px;
}

footer{
	text-align:center;
	margin-top:20%;
  font: 400 15px/1.5 "Noto Sans", sans-serif;
}

a {
	text-decoration: none;
        color: #00CED1;
}
a:hover {
    background-color: #F0F8FF;
}
